page-home {
    .background-img {
        background-image: url(../../assets/imgs/citric.png);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
}
