<ion-header>
  <ion-navbar color="tomato">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Listado</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <div padding>
    <ion-list>
      <ion-item>
        <ion-label stacked>Desde Número de Lote</ion-label>
        <ion-select [(ngModel)]="model.fromLote" okText="Aceptar" cancelText="Cancelar">
          <ion-option value="{{lote.Lote}}" *ngFor="let lote of lotes">{{lote.Lote + ' ' + lote.Code}}</ion-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label stacked>Hasta Número de Lote</ion-label>
        <ion-select [(ngModel)]="model.toLote" okText="Aceptar" cancelText="Cancelar">
          <ion-option value="{{lote.Lote}}" *ngFor="let lote of lotes">{{lote.Lote + ' ' + lote.Code}}</ion-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label stacked>Desde Número de Depósito</ion-label>
        <ion-select [(ngModel)]="model.fromDeposit" okText="Aceptar" cancelText="Cancelar">
          <ion-option value="{{deposit.Code}}" *ngFor="let deposit of deposits">{{deposit.Code}}</ion-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label stacked>Hasta Número de Depósito</ion-label>
        <ion-select [(ngModel)]="model.toDeposit" okText="Aceptar" cancelText="Cancelar">
          <ion-option value="{{deposit.Code}}" *ngFor="let deposit of deposits">{{deposit.Code}}</ion-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label>Desde Fecha</ion-label>
        <ion-datetime displayFormat="DD/MM/YYYY" pickerFormat="DD/MM/YYYY" [(ngModel)]="model.fromDate" doneText="Aceptar" cancelText="Cancelar"></ion-datetime>
      </ion-item>
      <ion-item>
        <ion-label>Hasta Fecha</ion-label>
        <ion-datetime displayFormat="DD/MM/YYYY" pickerFormat="DD/MM/YYYY" [(ngModel)]="model.toDate" doneText="Aceptar" cancelText="Cancelar"></ion-datetime>
      </ion-item>
    </ion-list>
    <hr>
    <ion-grid>
      <ion-row>
        <ion-col col-6>
          <div class="center">
            <button ion-button color="light" round (click)="clear($event)">Limpiar</button>
          </div>
        </ion-col>
        <ion-col col-6>
          <div class="center">
            <button ion-button round icon-start (click)="generate($event)">
              <ion-icon ios="ios-send" md="md-send"></ion-icon>
              Generar
            </button>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <ion-list>
    <button ion-item text-wrap *ngFor="let file of files" (click)="open($event, file)">
      <h2>{{file.name}}</h2>
      <p>{{file.modificationTime | date}}</p>
      <ion-badge color="primary">{{file.size | fileSizeFormat}}</ion-badge>
      <p>{{file.path}}</p>
    </button>
  </ion-list>
</ion-content>
